WCFClient/Connected Services/ClientZadania/TaskService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53393/TaskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoService" />
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoweZadanie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="zadanie" nillable="true" type="q1:Zadanie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoweZadanieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoweZadanieResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZadanie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idZadania" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZadanieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoService" minOccurs="0" name="GetZadanieResult" nillable="true" type="q2:Zadanie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>